.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.plants-container {
    padding: 50px 40px;
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container {
    background-color: #7aeb7ed7;
    padding: 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 10px;
}