.plant {
    width: 300px;
    height: 450px;
    border: 1px solid #08a047;
    border-radius: 8px;
    position: relative;
}
.plant img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.plant-info {
    margin: 0 14px;
}
.plant-info p { 
    font-weight: 700;
}
.plant-name {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.button-cart {
    width: 100%;
    background-color: #109700;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    border: 3px solid #109700;
    padding: 15px 30px;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cart:hover {
    background-color: #ffffff;
    color: #109700;
    border: 3px solid #109700;
    font-weight: bold;
    font-size: 16px;
}
.button-cart .button-text{
    margin-right: 10px; 
}